$logoFontColor: #1a5886;
@mixin fontColor($color: #000000) {
    color: $color;
}

%m0p0 {
    margin: 0;
    padding: 0;
}

html,
body {
    @extend %m0p0;
}

#app {
    width: auto;
    line-height: 30px;
    text-align: center;
    position: relative;
    font-family: 'consolas';
    font-style: 1em;
    font-weight: bold;
    @include fontColor();
    &::after {
        border-bottom: 1px solid $logoFontColor;
        content: '';
        display: block;
        position: absolute;
        width: 100%;
    }
}